@model WebsiteQuanAo.Models.KH_CT
<table class="table">
    <tr>
        <th colspan="2">ĐỊA CHỈ GIAO HÀNG</th>
    </tr>
    <tr>
        <td>Tên người nhận: </td>
        <td> @Model.HoTen</td>
    </tr>
    <tr>
        <td>Số điện thoại:</td>
        <td>@Model.sdt </td>
    </tr>
    <tr>
        <td>Địa chỉ: </td>
        <td>@Model.Diachi </td>
    </tr>
   
</table>     
