@model WebsiteQuanAo.Models.Color

@{
	ViewBag.Title = "Quản lý màu sắc";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h4>CHI TIẾT MÀU</h4>
<style type="text/css">
	.dl-horizontal dt {
		font-weight: bold;
		height: 0px;
	}

	.dl-horizontal dd {
		margin-left: 200px;
	}
</style>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			Màu:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.nameColor)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Sửa", "Edit", new { id = Model.idColor }) |
	@Html.ActionLink("VỀ TRANG QUẢN LÝ MÀU", "Index")
</p>
